* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-fao-nor.fao-nno.metalrx -text
/apertium-fao-nor.fao-nno.t1x -text
/apertium-fao-nor.fao-nno.t2x -text
/apertium-fao-nor.fao-nno.t3x -text
/apertium-fao-nor.fao-nob.metalrx -text
/apertium-fao-nor.fao-nob.t1x -text
/apertium-fao-nor.fao-nob.t2x -text
/apertium-fao-nor.fao-nob.t3x -text
/apertium-fao-nor.fao-nor.dix -text
/apertium-fao-nor.nob-fao.lrx -text
/apertium-fao-nor.nob-fao.t1x -text
/apertium-fao-nor.nob-fao.t2x -text
/apertium-fao-nor.nob-fao.t3x -text
/autogen.sh -text
/configure.ac -text
dev/apertium-fao-nor.fao-nob.t1x -text
dev/bidix/adj.list -text
dev/bidix/adj.scored.list -text
dev/bidix/adv.list -text
dev/bidix/adv.scored.list -text
dev/bidix/calc-levenshtein.py -text
dev/bidix/noun.list -text
dev/bidix/noun.scored.list -text
dev/bidix/prep.list -text
dev/bidix/prep.scored.list -text
dev/bidix/rerun-scores.sh -text
dev/bidix/vblex.list -text
dev/bidix/vblex.scored.list -text
dev/fao-nor-generated.dix -text
/metalrx-to-lrx.xslt -text svneol=unset#application/xml
/modes.xml -text
texts/story.fao-nob.postedit.txt -text
texts/story.fao.txt -text
texts/story.nob.txt -text
